@import "tailwindcss";

/* Navbar components */
.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.15rem;
    width: 100%;
    background-color: #ff561e;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.hover-underline:hover::after {
    transform: scaleX(1);
}

/* navlink */
.active {
    @apply border-orange-500;
}

.nav-shadow {
    box-shadow:
        0px 10px 8px 0px rgba(3, 3, 4, 0.03),
        0 1px 2px -1px rgba(3, 3, 4, 0.03);
}
